.buttonEliminar {
    background: #000000;
    color: #fff;
    border: none;
    position: relative;
    height: 30;
    font-size: 20px;
    padding: 0 2em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
}

.buttonEliminar:hover {
    background: #ffffff;
    color: #070707;
}

.buttonEliminar:before,
.buttonEliminar:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #000000;
    transition: 400ms ease all;
}

.buttonEliminar:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.buttonEliminar:hover:before,
.buttonEliminar:hover:after {
    width: 100%;
    transition: 800ms ease all;
}