.productos-dropdown{
    text-align: center;   
}

.select-menu {
    position: relative;
    display: inline-block;
}

.buttonDrop {
    border-radius: 5px 5px 0px 0px;
    background: #222;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    background: #333;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.dropdownLi {
    text-decoration: none;
    background: #222;
    color: rgb(255, 255, 255);
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.3s;
}

.dropdown li:hover {
    background: #c9c9c9;
}
