@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Oswald:wght@200..700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.contenedor-main{
    background-color: aquamarine;
}
body{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
}